body 	{
	
	     color: black;
	     background-color: white;
	     font-size: 18pt;
	     font-family: Veranda; Geneva, Arial, Helvetica, sans-serif;  
		 text-align: center;
		 margin-top: 30px;
		 margin-bottom: 100px;
		 margin-right:50px;
		 margin-left:50px;
		 padding-top:20px;
	}
		
div 	{  background-color:white; }
		
p 	{  color: black; font-size: 12pt; }
		
h1 	{  font-style:italic; font-weight:bold; }


