body
{
	background-color:beige;
	font-size:15px;
}

.firstletter{
	font-size:25px;
	color:red;
	
}

	.menubar
	{
		border:1px solid pink;
		width: auto;
		text-align:left;
		font-size:20px;
		
		padding: 15px;
		margin-bottom:10px;		
	}
	
	
	.header{
		border:2px solid gray;
		width:auto;
		background-color: lightgray;
		font-size: 40pt;
		text-align:center;
		font-color:white;
		
		padding:50px;
	}
	
	
	.pic1{
		float:left;
		border-radius:2px solid black;
		font-size: 40pt;
		font-color:white;
		padding:50px;
			
	}
	 
     .pic2{
 		width:auto;
 		border:2px solid gray;
 		font-size: 40pt;
 		font-color:white;
		text-align:center;
		
     }	

	
	.a{
		border:2px solid gray;
		width:20%;
		background-color: lightgray;
		font-size: 20pt;
		text-align:left;
		font-color:white;
		font-style:italic;	
	}
	
	
	.wrap{
		margin: 0 auto;
		width:70%;
		
	}
/* left justify on a centered div */	
	.resume{
		text-align: left;
		
	}
	 
	.contact{
		border:2px solid black;
		background-color:grey;
		text-align:center;
		font-weight:bold;
		float:center;
		width:auto;
		
	}
	
	.description{
		color:grey;
		font-size:16pt;
		font-style:italic;
		text-align:center;
	}
	
p 	{  color: black; font-size: 15pt;}
		
h4 	{ font-style:italic; font-weight:bold; }

h5   {font-style:italic; font-weight:bold; text-align:center;}


